:root {
  /*
   * Typography
   * ======================================================================== */

  --font-family-base: 'Segoe UI', 'HelveticaNeue-Light', sans-serif;

  /*
   * Layout
   * ======================================================================== */

  --max-content-width: 1000px;

  /*
   * Media queries breakpoints
   * ======================================================================== */

  --screen-xs-min: 576px;  /* Extra small screen / phone */
  --screen-sm-min: 768px;  /* Small screen / tablet */
  --screen-md-min: 992px;  /* Medium screen / desktop */
  --screen-lg-min: 1200px; /* Large screen / wide desktop */

  --tosca: #00a79d;
  --red: #c00;
  --dark-gray: #999;
  --gray: #dadada;

  --text-shadow: 0 1px 5px rgba(0,0,0,0.75);

  --border: solid 1px var(--gray);

  @custom-media --xs-viewport screen and (min-width: 576px);
  @custom-media --sm-viewport screen and (min-width: 768px);
}
